node_modules/

!debug
debug/*
!debug/test-json-serialization
!debug/test-build-add-metadata-for-serialization
!debug/test-get-type-script-typed-datum
!debug/test-get-custom-typed-datum
!debug/test-serialize
!debug/test-joining-one-to-one
!debug/test-joining-one-to-many
!debug/test-collection-input
!debug/test-joining-one-to-collection
!debug/test-joining-collection-to-collection
!debug/test-releasing-a-left-collection-multiple-times
!debug/test-releasing-a-right-collection-multiple-times

!debug/testGraphRender
debug/testGraphRender/*
!debug/testGraphRender/collections/
debug/testGraphRender/collections/*
!debug/testGraphRender/collections/serialized/
debug/testGraphRender/collections/serialized/*
!debug/testGraphRender/collections/serialized/sanity-snapshot

!debug/testGraphAssembly
debug/testGraphAssembly/*
!debug/testGraphAssembly/collections/
debug/testGraphAssembly/collections/*
!debug/testGraphAssembly/collections/serialized/
debug/testGraphAssembly/collections/serialized/*
!debug/testGraphAssembly/collections/serialized/sanity-snapshot

!debug/assembleScaffoldedFile
debug/assembleScaffoldedFile/*
!debug/assembleScaffoldedFile/test

!debug/modelPrograms
debug/modelPrograms/*
!debug/modelPrograms/collections/
debug/modelPrograms/collections/*
!debug/modelPrograms/collections/serialized/
debug/modelPrograms/collections/serialized/*
!debug/modelPrograms/collections/serialized/sanity-snapshot

!debug/renderTypeScriptFileRelationships
debug/renderTypeScriptFileRelationships/*
!debug/renderTypeScriptFileRelationships/collections/
debug/renderTypeScriptFileRelationships/collections/*
!debug/renderTypeScriptFileRelationships/collections/serialized/
debug/renderTypeScriptFileRelationships/collections/serialized/*
!debug/renderTypeScriptFileRelationships/collections/serialized/sanity-snapshot

!debug/test-error-serialization
debug/test-error-serialization/*
!debug/test-error-serialization/collections/
debug/test-error-serialization/collections/*
!debug/test-error-serialization/collections/error/

!debug/test-programmed-transform-error
debug/test-programmed-transform-error/*
!debug/test-programmed-transform-error/collections/
debug/test-programmed-transform-error/collections/*
!debug/test-programmed-transform-error/collections/engine-error/

!debug/test-untriggeredtransform-input-key-group-error
debug/test-untriggeredtransform-input-key-group-error/*
!debug/test-untriggeredtransform-input-key-group-error/collections/
debug/test-untriggeredtransform-input-key-group-error/collections/*
!debug/test-untriggeredtransform-input-key-group-error/collections/engine-error/
