node_modules/

!debug
debug/*
!debug/test-json-serialization
!debug/test-build-add-metadata-for-serialization
!debug/test-get-type-script-typed-datum
!debug/test-get-custom-typed-datum
!debug/test-serialize

!debug/testGraphRender
debug/testGraphRender/*
!debug/testGraphRender/sanity-snapshot

!debug/modelPrograms
debug/modelPrograms/*
!debug/modelPrograms/sanity-snapshot

snapshot/
